@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: white;
  font-family: "Poppins", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #16181d;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #12151a;
}

.color__container {
  @apply relative cursor-pointer;
}

.color__circle {
  @apply w-7 h-7 rounded-full border-gray-600/20;
}

.color__active {
  @apply box-border absolute w-9 h-9 rounded-full -left-1 -top-1 border-2 border-white/80;
}

.img__shadow {
  box-shadow: 0 4px 8px 0 rgba(8, 8, 8, 0.593),
    0 6px 20px 0 rgba(18, 18, 18, 0.603);
}
